{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>QR</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/add1.css' %}">
</head>
<body >
<div id="app">
 <div class="page__wrapper no-center">
    {% include 'page/_left_side.menu.html' %}
    <div class="page__text">
        <h1 class="page-title">Contacts</h1>
<p class="page-info">In this section, we have indicated contacts for feedback with us! If you have any questions or suggestions, please contact us!</p>
 <div class="page-info">
     <p>Company: 为注册YY产品与服务相关账号（以下统称“YY账号”）</p>
     <p>Adress: 为务相关账, 以下统称 32 street</p>
 </div>
        <p class="page-title">YOUR MESSAGE</p>
        <p class="page-info">We will answer you within 24 hours to your specified mail for your support request, question or suggestion!</p>
        <form class="auth-form" action="{% url 'contacts' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
        {{ form }}
            <button style="margin-top: 20px">send</button>
        </form>




    </div>
</div>
  <div class="page__mobile">
    <div class="page__mobile-logo">
        <img src="{% static 'images/logo-b.png' %}" alt="">
    </div>
    <div class="page__mobile-text">
        <h1>We work only on the PC version of the site</h1>
        <p>Our analytical systems and metrics work only on pc users</p>
    </div>
</div>
</div>



</body>
</html>


