{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>QR</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/add1.css' %}">
</head>
<body >
<div id="app">
    <div class="page__wrapper no-center">
        {% include 'page/_left_side.menu.html' %}
        <div class="page__text">
            <h1 class="page-title">FEEDBACK</h1>
            <p class="page-info">Only registred users can send their messenges! We attach the contact details of users so that you can contact them and make sure that these reviews are transparent! When you send your review, it will be published only if we pass moderation for violations of the rules of the service.</p>
            {% for feedback in allFeedbacks %}
                <div class="" >
                <p style="text-align: right; font-size: 12px; margin-bottom: 10px">{{ feedback.created_at | date }}</p>

                    <p style="background: #E7EAF2;border-radius: 5px; padding: 25px 30px; font-weight: bold">{{ feedback.message }}</p>
                    <div style="display: flex; align-items: center; justify-content: space-between">
                        <div class="">
                            {% if feedback.img %}
                            <a href="{{ feedback.img.url }}" target="_blank">
                                <img style="width: 100px;height: 100px; object-fit: contain" src="{{ feedback.img.url }}" alt="">
                            </a>
                            {% endif %}
                        </div>
                        <div style="display: flex; align-items: center; justify-content: space-between">
                             <img style="border-radius :100%;width: 30px;height: 30px; object-fit: cover;margin-right: 30px" src="{{ feedback.user.avatar.url}}" alt="">
                            <div class="">
                             <p style="font-size: 14px; font-weight: bold">{{ feedback.user.nickname }}</p>
                             <p style="font-size: 10px">{{ feedback.user.email }}</p>
                            </div>
                        </div>

                    </div>




                </div>
            {% endfor %}
        {% if request.user.is_authenticated %}
        <p class="page-title">YOUR feedback</p>
            <form class="fb-form" action="{% url 'feedbacks' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
                {{ form }}
                <button style="margin-top: 20px" type="submit">send</button>
            </form>
        {% endif %}




        </div>
    </div>
    <div class="page__mobile">
        <div class="page__mobile-logo">
            <img src="{% static 'images/logo-b.png' %}" alt="">
        </div>
        <div class="page__mobile-text">
            <h1>We work only on the PC version of the site</h1>
            <p>Our analytical systems and metrics work only on pc users</p>
        </div>
    </div>
</div>



</body>
</html>


