{% extends 'basic.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    <div class="lk-area" @click="mobile_menu = false ; mobile_menu_right = false ">
        <div class="lk-area-wrapper">
            <div class="lk-tab-links">
                <ul class="lk-tab-links-wrapper">
                    <li class="lk-tab-link tab-link-games " :class="{ lkTabLinkActive:lk_tab == 'games' }" @click="lk_tab = 'games' ">{% trans 'Cтатистика' %}</li>
                    <li class="lk-tab-link tab-link-support " :class="{ lkTabLinkActive:lk_tab == 'support' }" @click="lk_tab = 'support' ">{% trans 'Чат поддержки' %}</li>
                    <li class="lk-tab-link tab-link-cash" :class="{ lkTabLinkActive:lk_tab == 'cash' }" @click="lk_tab = 'cash' ">{% trans 'Баланс' %}</li>
                    <li class="lk-tab-link tab-link-settings" :class="{ lkTabLinkActive:lk_tab == 'settings' }" @click="lk_tab = 'settings' ">{% trans 'Наcтройки' %}</li>
                    <li class="lk-tab-link tab-link-logout"><a href="{% url 'logout_page' %}">{% trans 'Выход' %}</a></li>
                    {% if request.user.is_superuser %}
                        <li >                            <hr></li>
                        <li class="lk-tab-link "><a href="{% url 'clear_rating' %}">Clear Rating</a></li>
                    {% endif %}

                </ul>
            </div>
            <div v-if="lk_tab == 'games'" class="lk-info">
                <div class="lk-games">
                    <div class="lk-games-wrapper">
                        <table class="lk-games-table">
                            <tr class="lk-games-table-head">
                                <td>{% trans 'Дата' %}</td>
                                <td>{% trans 'Уровень' %}</td>
                                <td>{% trans 'Картинка' %}</td>
                                <td>{% trans 'Рейтинг' %}</td>
                                <td>{% trans 'Баланс' %}</td>
                                <td>{% trans 'Результат' %}</td>
                            </tr>
                            {% for game in allGames %}
                                <tr class="lk-games-table-item">
                                    <td>{{ game.date |date:'d.m.Y, H:i'  }}</td>
                                    <td>Level {{ game.level.id }}</td>
                                    <td><a target="_blank" style="text-decoration: underline" href="{{ game.image.url }}">Image</a></td>
                                    <td>
                                        {% if game.result %}
                                            {{ game.level.rating }}
                                        {% else %}
                                            -
                                        {% endif %}
                                        </td>
                                    <td>
                                        {% if game.result %}
                                            {{ game.level.balance }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                    <td>{{ game.get_result }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
            <div v-if="lk_tab == 'support'" class="lk-info">
                <div class="lk-support">
                    <div class="lk-support-wrapper">
                        <div ref='messageDisplay' class="lk-support-messages">

                            <div v-for="message in chat_messages"  class="lk-support-message-item my-message" :class="{ toMeMessage : message.own_message , myMessage : !message.own_message }" >
                                <p class="lk-support-message-item-text">[[message.text]]</p>
                                <p class="lk-support-message-item-date">[[message.date]]</p>
                                <p class="lk-support-message-item-from">[[message.from]]</p>
                            </div><!--toMeMessage myMessage-->

                        </div>
                        <div class="lk-support-message">
                            <input type="text" v-model="new_msg">
                            <span class="btn btn-blue" @click="newMsg">{% trans 'Отправить' %}</span>
                        </div>


                    </div>
                </div>
            </div>
            <div v-if="lk_tab == 'settings'" class="lk-info">
                <div class="lk-support settings-tab">
                    <div class="profile-edit-wrapper">
                        <form action="{% url 'profile_edit' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                        <div class="form-row">
                            <label>{% trans 'Почта' %}:</label>
                            <input type="text" v-model="email" name="email" >
                        </div>
                        <div class="form-row">
                            <label>{% trans 'Ник' %}:</label>
                            <input type="text" v-model="nickname" name="nickname">
                        </div>
                        <div class="form-row ">
                            <label>{% trans 'Возраст' %}:</label>
                            <input type="text" v-model="age" name="age">
                        </div>
                        <div class="form-row ">
                            <label>{% trans 'Образование' %}:</label>
                            <input type="text" v-model="education" name="study">
                        </div>
                        <div class="form-row ">
                            <label>{% trans 'Расположение' %}:</label>
                            <input type="text" v-model="location" name="region">
                        </div>
                            <div class="form-row ">
                            <label>{% trans 'Пол' %}:</label>
                                <select style="background: #2D325A;
    border: 1px solid #2B3053;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: inset 2px 4px 6px rgba(0, 0, 0, 0.13);
    box-shadow: inset 2px 4px 6px rgba(0, 0, 0, 0.13);
    border-radius: 4px;
    height: 50px;
    padding: 0 20px;
    color: #7B7E9E;"  name="sex" v-model="sex">
                                    <option value="m">{% trans 'Мужчина' %}</option>
                                    <option value="f">{% trans 'Женщина' %}</option>
                                </select>
                        </div>
                         <div class="form-row ">
                            <label>{% trans 'Аватар' %}:<br>
                                <img :src="[[user_avatar]]" alt="">
                            </label>
                            <input type="file" v-on:change="changeAvatar" name="avatar">
                        </div>


                        <button class="btn btn-blue btn-center" type="submit"
{#                              @click="updateProfile"#}
                              :class="{btnDisabled : !email || !nickname  }"

                        >{% trans 'Обновить профиль' %}</button>
                        <div class="">[[reg_error]]</div>
                            </form>
                    </div>
                </div>
            </div>
        <div v-if="lk_tab == 'cash'" class="lk-info">
                <div class="lk-support cash-tab">
                   <div v-if="modal_login_body" >
                    <div class="modal-header">
{#                        <p>WITHDRAW</p>#}
                        <p>TEMPORARILY NOT ACCEPTED</p>
                    </div>
                    <div class="modal-body">
                        <div style="max-width: 260px" class="toggleButton">
                            <p   v-bind:class="{ toggleButtonActiveLeft: modal_login_body }">WITHDRAW</p>
                            <p  v-on:click="modal_login_body=false">DEPOSIT</p>
                        </div>
                        <p style="color: red; text-align: center;margin-bottom: 20px"> ATTENTION! 1 QR = 1EUR = 8 YUAN = 80 RUB</p>
                        <div class="form-row">
                            <input style="width: 100%" type="text">
                        </div>
                        <div class="form-row">

                            <label class="cash_label" for="w1"><input class="cash_input" id="w1" type="radio" name="withdraw_type" v-model="is_login_agree"> <img style="width: 150px" src="{% static 'images/mc.png' %}" alt=""> <img style="width: 150px" src="{% static 'images/vv.png' %}" alt=""></label>
                        </div>
                        <div class="form-row">
                            <label class="cash_label" for="w2"><input class="cash_input" id="w2" type="radio" name="withdraw_type" v-model="is_login_agree"> <img style="width: 150px" src="{% static 'images/qw.png' %}" alt=""></label>
                        </div>
                        <div class="form-row">
                            <label class="cash_label" for="w3"><input class="cash_input" id="w3" type="radio" name="withdraw_type" v-model="is_login_agree"> <img style="width: 150px" src="{% static 'images/wm.png' %}" alt=""></label>
                        </div>
                            <div class="form-row">
                            <label class="cash_label" for="w4"><input class="cash_input" id="w4" type="radio" name="withdraw_type" v-model="is_login_agree"> <img style="width: 150px" src="{% static 'images/we.png' %}" alt=""></label>
                        </div>


                        <span class="btn btn-blue btn-center">WITHDRAW </span>

                    </div>

                </div>
                <div v-else>
                    <div class="modal-header">
{#                        <p>DEPOSIT</p>#}
                          <p>TEMPORARILY NOT ACCEPTED</p>
                    </div>
                    <div class="modal-body">
                        <div style="max-width: 260px" class="toggleButton">
                            <p  v-on:click="modal_login_body=true">WITHDRAW</p>
                            <p  v-bind:class="{ toggleButtonActiveRight: !modal_login_body }">DEPOSIT</p>
                        </div>
                        <div class="form-row">

                             <input style="width: 100%" v-model="deposit_summ" type="text">
                        </div>

                        <span class="btn btn-blue btn-center" v-on:click="newDeposit" :class="{btnDisabled : !deposit_summ }">DEPOSIT</span>

                    </div>
                 
                </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block js %}
    {{ block.super }}

{% endblock %}


