* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td,
menu {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img,
abbr {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ul li,
menu li {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: 'Inter',sans-serif;
}

.container {
  max-width: 1380px;
  padding: 0 10px;
  margin: 0 auto;
}

.w-bg {
  background: url(../images/body_bg.jpg);
}

.w-bg-s {
  background: url(../images/body-bg-s.png) no-repeat left;
}

.header {
  padding-top: 150px;
}

.offer {
  height: 67vh;
}

.offer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 20px;
  height: 100vh;
}

.offer__left {
  /*padding-top: 235px;*/
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
.offer__left-img{
  flex-grow: 3;
  display: flex;

  align-items: center;
  justify-content: center;
}
.offer__left-text{
  flex-grow: 2;
  margin-top: 200px;
}
.offer__left h1 {
  font-weight: 500;
  font-size: 48px;
  line-height: 52px;
  color: #ffffff;
  margin-bottom: 50px;
}

.offer__left p {
  color: #9394A1;
  max-width: 690px;
  font-size: 22px;
  font-weight: 500;
}

.offer__right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.offer__right img {
  cursor: pointer;
}

.big-button {
  position: relative;
  margin-top: 150px;
}

.big-button__img {
  -webkit-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 1s linear;
}

.big-button:hover > .big-button__img {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.big-button__text {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 1;
}


.big-button__text svg {
  margin-right: 10px;
}

.big-button__text p {
  color: #ffffff;
  font-weight: 700;
  font-size: 28px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  bottom: 0;
}

.footer a {
  color: #9394A1;
}

.footer-left {
  color: #9394A1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 400px;
  flex-grow: 1;
}

.footer-right {
  background: -o-radial-gradient(0% 0%, 178.93% 190.83%, rgba(249, 86, 86, 0.69) 0%, rgba(255, 255, 255, 0) 100%);
  background: radial-gradient(178.93% 190.83% at 0% 0%, rgba(249, 86, 86, 0.69) 0%, rgba(255, 255, 255, 0) 100%);
  -webkit-box-shadow: inset -5px -5px 250px rgba(255, 255, 255, 0.02), inset 3px 3px 2px rgba(255, 255, 255, 0.1);
  box-shadow: inset -5px -5px 250px rgba(255, 255, 255, 0.02), inset 3px 3px 2px rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(11px);
  backdrop-filter: blur(11px);
  border-radius: 20px 19px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-preferred-size: 300px;
  flex-basis: 300px;
  padding: 20px 0 17px 0;
}

.footer-right p {
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}

.page__wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 360px;
}
.page__wrapper.no-center{
  justify-content: flex-start;

}
.page__left {
  z-index: 10;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 360px;
  background: url(../images/body-bg-s.png) no-repeat;
  background-size: cover !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.page__left-footer {
  position: absolute;
  bottom: 25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.page__left-footer a {
  color: #9394A1;
  margin-right: 45px;
}

.page__left-footer a:last-child {
  margin-right: 0;
}

.page__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}

.text-us {
  position: absolute;
  bottom: 0;
  right: 335px;
  cursor: pointer;
}

.arrow {
  margin-left: 10px;
}

.has-submenu {
  position: relative;
}

.has-submenu:hover > .submenu {
  top: 30px;
  opacity: 1;
  pointer-events: all;
}

.submenu-item-selected {
  background: rgba(0, 1, 29, 0.56);
}

.submenu {
  position: absolute;
  background: -o-radial-gradient(0% 0%, 100% 100%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
  background: radial-gradient(100% 100% at 0% 0%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
  border-radius: 5px;
  width: 185px;
  left: 0;
  top: 46px;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.submenu li {
  padding: 10px 20px;
  color: #9394A1;
  margin-bottom: 0 !important;
  cursor: pointer;
}

.submenu li:hover {
  background: rgba(0, 1, 29, 0.56);
}

.menu {
  margin: 0 auto;
}

.menu ul li {
  margin-bottom: 25px;
}

.menu ul li:last-child {
  margin-bottom: 0;
}

.menu ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
}

.menu ul li svg {
  fill: #ffffff;
  margin-right: 10px;
}

.menu ul li:hover a {
  color: #2873D9;
}

.menu ul li:hover svg {
  fill: #2873D9;
}

.auth-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.auth-form textarea{
    background: #E7EAF2;
border-radius: 5px;
  border: none;
  padding: 25px 30px;
}

.auth-form h1 {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 35px;
  text-align: center;
  text-transform: uppercase;
}

.auth-form__grey {
  color: #9394A1;
  font-size: 12px;
  text-align: center;
  margin-bottom: 85px;
}

.auth-form__grey a {
  color: #2873D9;
  text-decoration: underline;
}

.auth-form__demo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 12px;
  color: #2873D9;
}

.auth-form__demo svg {
  margin-right: 10px;
}

.auth-form input:focus,
.auth-form button:focus {
  outline: none;
}

.auth-form input:active,
.auth-form button:active {
  outline: none;
}

.auth-form input {
  border: none;
  background: #E7EAF2;
  border-radius: 5px;
  padding: 10px 25px;
  margin-bottom: 15px;
}

.auth-form button {
  border: none;
  background: #2873D9;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 700;
  padding: 10px 0;
  width: 200px;
  margin: 0 auto 30px;
  text-transform: uppercase;
  cursor: pointer;
}

.logo {
  padding-top: 100px;
  text-align: center;
  margin-bottom: 150px;
}

.page__mobile {
  display: none;
  background: url(../images/body_bg.jpg) no-repeat center;
  background-size: cover !important;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.page__mobile-logo {
  text-align: center;
  padding-top: 60px;
}

.page__mobile-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 20px;
  height: 100%;
}

.page__mobile-text h1 {
  font-size: 48px;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 20px;
  text-align: center;
}

.page__mobile-text p {
  color: #9394A1;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  max-width: 80%;
  margin: 0 auto;
}

@media (max-width: 1120px) {
  .page__wrapper,
  .page__wrapper-a {
    display: none;
  }

  .page__mobile {
    display: block;
  }
}

.page__text{
    padding: 100px;
  height: 100vh;
  width: 100vw;
    overflow-y: auto;
}

.page-title{
    font-size: 24px;
    font-weight: bold;
  margin-bottom: 15px;
    text-transform: uppercase;
}

.page-info{
    font-size: 16px;
    color: #9394A1;
  margin-bottom: 40px;
}
.fb-form{
   display: flex;

  flex-direction: column;
}
.fb-form label{
  display: none;
}
.fb-form textarea{
  background: #E7EAF2;
border-radius: 5px;
  border: none;
  padding: 25px 30px;
}
.fb-form button{
  border: none;
    background: #2873D9;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 700;
    padding: 10px 0;
    width: 200px;
    margin: 0 auto 30px;
    text-transform: uppercase;
    cursor: pointer;
}

.fb-form input{
  border: none;
    background: #2873D9;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 700;
    padding: 10px 0;
    width: 200px;
   margin-bottom: 20px;
    text-transform: uppercase;
    cursor: pointer;
}

@media (max-width: 1440px) {
  .container{
    max-width: 1270px;
  }
}