{% load static%}
<footer class="footer">
    <div class="footer-wrapper">
        <div  class="footer-timer">
            <div class="result-label win-label"><p>You Win!</p></div>
            <p id="id_timer">00:00</p></div>
        <div class="footer-button">
            <div  class="result-label lose-label"><p>You LOSE!</p></div>
            <span style="width: 180px; font-size: 18px; height: 56px;" id="id_concide" onclick="concide()" class="btn btn-orange">CONCIDE</span></div>
    </div>
</footer>
<div  class="modal " v-bind:class="{ modalActive:result_image_modal }">
    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="close"  v-on:click="result_image_modal = false, mobile_sub_menu = 'gameselect'"><img src="{% static 'images/close-btn.svg' %}" alt=""></div>
                <div class="modal-header">
                    <p :class="{colorRed : !result}">[[result_title]]</p>
                </div>
                <div class="modal-body">
                    <img :src=[[result_image]] alt="">
                </div>
        </div>
    </div>
</div>